.app {
  background-image: url("background-small.png");
  background-repeat: repeat;
  background-attachment:fixed;
  min-height: 100vh;
}

.messages-box {
  overflow: scroll;
  height: calc(100vh - 122px - 46px);
}

.message {
  width: fit-content;
}

.hide {
  display: none;
}