.app {
  background-image: url("background-small.png");
  background-repeat: repeat;
  background-attachment:fixed;
  padding-top: 120px;
  min-height: 100vh;
}

.message {
  width: fit-content;
}

label.msg-label {
  color: red;
}

.hide {
  display: none;
}